.about{
    display: flex;
    justify-content: space-between;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}

table{
    width: 100%;
}

th {
   background-color: $nav-color;
   color: $text-color-light;
   font-family: $heading-font;
   padding: 11px;
}

td {
    text-align: left;
    padding: 11px;
    font-size: 16px;
    width: 50%;
}


.responsive-table td {
    text-align: left;
    padding: 11px;
    font-size: 16px;
    width: auto;
}


tr:nth-child(odd){
    background-color: lighten($nav-color, 75%);
}

.about-button {
    background-color: $link-hover-color;
    border: none;
    color: $text-color-light;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px ;
    width: 40%;
    margin: auto;
    

    @media screen and (max-width: 580px){
        font-size: 14px;
    }
}

.btn-container{
    text-align: center;
    margin-top: 20px;
    max-width: 100%;
}

.about-button:hover {
    background-color: rgb(93, 163, 17);
    transition-duration: 0.4s;
    color: white;
    box-shadow: 1px 1px 5px #000;
    text-decoration: none;
}

li {
    margin: 10px 0;
}


