.about{
    display: flex;
    justify-content: space-between;
}

.about-list{
    display: flex;
    flex-direction: column;
    background-color: $nav-color;
    justify-content: space-evenly;
    @include heading-link;
    @include flatten;
    padding: 10px 3%;
    
    a:hover{
        text-decoration: underline;
        color: $text-color-light;
        font-family: $heading-font;
        font-weight: bold;
    }

    a{
        width: 85px;
    }

    border-bottom: $bdr-style;
    border-top: $bdr-style;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
   background-color: $nav-color;
   color: $text-color-light;
   font-family: $heading-font;
   padding: 11px;
}

td {
    text-align: left;
    padding: 11px;
    font-size: 16px;
}

tr:nth-child(odd){
    background-color: #f2f2f2;
}

.about-button {
    background-color: $link-hover-color;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 39%;
    margin-bottom:30px;
}

.about-button:hover {
    background-color: rgb(93, 163, 17);
    transition-duration: 0.4s;
    color: white;
}

.p1 {
    font-family: $content-font;
    font-size: 19px;
    text-align: center;
    margin-top: 17%;
    padding: 50px;
    
}

.about-outcome { 
    text-align: center;

}

.carousel-container {
        margin: 0 auto;
        
}

main a {
    color: white;
}

main a:visited {
    color: red;
}