.about{
    display: flex;
    justify-content: space-between;
}

.about-list{
    display: flex;
    flex-direction: column;
    background-color: $nav-color;
    justify-content: space-evenly;
    @include heading-link;
    @include flatten;
    padding: 10px 3%;
    a:hover{
        text-decoration: underline;
        color: $text-color-light;
        font-family: $heading-font;
        font-weight: bold;
    }
    a{
        width: 85px;
    }

    border-bottom: $bdr-style;
    border-top: $bdr-style;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 11px;
}

th {
   background-color: rgb(3, 110, 187);
   color: $text-color-light;
   font-family: $heading-font;
}

td {
    text-align: left;
}

.about-button {
    background-color: $link-hover-color;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 8%;
}

.about-button:hover {
    background-color: rgb(93, 163, 17);
    transition-duration: 0.4s;
    color: white;
}

.about-button:visited {
    color: white;
    background: $nav-color;
}

.p1 {
    font-family: $content-font;
    font-size: 16px;
    text-align: center;
}