
html {
    box-sizing: border-box; }
  
  *, *:before, *:after {
    box-sizing: inherit; }

body{
    background-color: $bg-color;
    margin: 0;
    overflow: auto;
}

h1, h2, h3, h4{
    font-family: $heading-font;
    color: $nav-color;
}

h1{
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    background-color: white;
    @include margin-center;

    @media screen and (max-width: 680px) {
        max-width: 100%;     
    }
    min-height: 100vh;
}

main{
    flex: 1;
    font-family: $content-font;
    @include content-link;
    @include content-link-hover;
    section{
        margin: 3% 8%;
        overflow-wrap: break-word;
    }
}