
footer{
    display: flex;
    justify-content: space-around; 
    background-color: $footer-bg-color;
    height: auto;
    padding: 0 25%;
}

footer a{
    @include link-style;
    color: $footer-link-color;
    padding: 8px 20px;
}