
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/images/banner-small.jpg");
    background-repeat:no-repeat;
//    background-size:cover;
    background-position: top right;    
    height: auto;
    @media screen and (max-width: 960px){
        background-image: url("/images/banner-900px.jpg");
    }

    @media screen and (max-width: 800px){
        background-image: url("/images/banner-800px.jpg");
    }

    @media screen and (max-width: 680px){
        background-image: url("/images/banner-680px.jpg");
    }

    @media screen and (max-width: 580px){
        background-image: url("/images/banner-580px.jpg");
    }

    @media screen and (max-width: 440px){
        background-image: url("/images/banner-440px.jpg");
    }

    @media screen and (max-width: 380px){
        background-image: url("/images/banner-380px.jpg");
    }
}

.logo{
    width: 100px;
    height: 100px;
    border-right: $bdr-style; 
}

nav ul{
    display: flex;
    justify-content: center;
    background-color: $nav-color;
    margin: 0;
    border-top: $bdr-style;
    li{
        display: block;
        padding: 10px 20px;
        border-left: $bdr-style;
        ~ :last-child{
            border-right: $bdr-style;
        }
    }
    >:hover, >:active, >:focus{
        background-color: lighten($color: $nav-color, $amount: 10%);
    }
}

nav ul li a{
    @include link-style;
    color: white;
}

