
// Main area 

//-----------------------------------------------------------

// Main area 


.index-wrapper{
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    @include margin-center;

    @media screen and (max-width: 680px) {
        max-width: 100%;     
    }
    min-height: 100vh;
}

.banner .header-image1{
    max-width: 100%;
    height: auto;
}

.banner, .main-content2{
    margin: 0;
}

.banner-content{
   
    .title{
        font-family: $heading-font;
        font-weight: 600;
        font-size: 6em;
        text-transform: uppercase;
        color:$bg-color;
        text-shadow: 3px 3px 3px black;
    }

    .sub-title{
        font-family: $subtitle-font;
        font-weight: 700;
        font-size:3em;
        letter-spacing: 3px;
        color: $index-bg-color;
        text-shadow: 1px 1px 2px white, 5px 5px 10px black;
        text-align: right;

    }

    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-10%, -10%);

    @media screen and (max-width: 1200px){
        .title{
            font-size: 5.5em;
        }
    }

    @media screen and (max-width: 1040px){
        .title{
            font-size: 5.2em;
        }
    }

    @media screen and (max-width: 990px){
        top: 60%;
        left: 50%;
        .title{
            font-size: 4.7em;
        }
        .sub-title{
            font-size: 2.6em;
        }
    }

    @media screen and (max-width: 895px){
        top: 50%;
        left: 50%;
        .title{
            font-size: 4.3em;
        }
        .sub-title{
            font-size: 2.4em;
        }
    }
    
    @media screen and (max-width: 820px){

        .title{
            font-size: 4em;
        }
        .sub-title{
            font-size: 2.2em;
        }
    }

    @media screen and (max-width: 765px){

        .title{
            font-size: 3.5em;
        }
        .sub-title{
            font-size: 2em;
        }
    }

    @media screen and (max-width: 690px){
        top: 45%;
        left: 50%;
        .title{
            font-size: 3.2em;
        }
        .sub-title{
            font-size: 1.6em;
        }
    }

    @media screen and (max-width: 620px){
        top: 40%;
        left: 50%;
        .title{
            font-size: 3em;
        }
        .sub-title{
            font-size: 1.4em;
        }
    }

    @media screen and (max-width: 580px){
        top: 35%;
        left: 40%;
    }

    @media screen and (max-width: 486px){
        top: 30%;
        left: 30%;
    }

    @media screen and (max-width: 420px){
        top: 25%;
        left: 29%;
        .title{
            font-size: 2.3em;
        }
        .sub-title{
            font-size: 1.1em;
        }
    }
}

.show .banner-content{
    @media screen and (max-width: 580px){
        top: 87%;
        left: 40%;
    }

    @media screen and (max-width: 486px){
        top: 82%;
        left: 30%;
    }

    @media screen and (max-width: 420px){
        top: 78%;
        left: 29%;
    }
}

 // -1- Section Code 
.about-section {

    @include margin-center;
    padding: 4%;
    width:70%;
    text-align: center;
    top: -40px;
    position: relative;
    background-color: rgba($index-bg-color, 0.8);
    padding-bottom:100px;
    margin-top:0;
    margin-bottom:0;
}

 .about-section h2{

    @include title-h2;
    padding-top:20px;
 }

.index-wrapper .thick-line{

    @include title-hr;
    color: $bg-color;
}

.index-wrapper main h2{

    font-family: $heading-font;
    font-weight: 700;
    line-height: 1.2em;

}

.main-content{

    font-weight: 400;
    line-height: 1.2em;
    font-size: 1.4em;
    color: $bg-color;
    text-align: center;
}

.main-content2{

    padding:1%;
    font-weight: 400;
    line-height: 1em;
    font-size: 1.2em;
    color:$footer-link-color;
    background-color:gray;
    text-align: center;
}

@media screen and (max-width: 1024px) {


    .about-section h2{

        font-size:1.6em;
    }

    .main-content{
        font-size: 1em;
        

    }
    .main-content2{
        font-size: 1em;

    }

    .about-section{

        //position: relative;
        top:-50px;

    }
    
}


@media screen and (max-width: 900px){
   
    .about-section{
        position: relative;
        top:-40px;

    }   


}

@media screen and (max-width: 680px){

    .about-section{

        position: relative;
        top:-40px;

    }

    .main-content2{
        font-size: 0.8em;

    }
}

@media screen and (max-width: 500px){
    .about-section{

        position: relative;
        top:-27px;

    }
    .main-content2{
        font-size: 0.7em;

    }
  

}
