
@mixin heading-link{
    a{
        text-decoration: none;
        font-weight: bold;
        font-family: $heading-font;
        color: $text-color-light;
    }
}

@mixin margin-center{
    margin-right: auto;
    margin-left: auto;
}

@mixin flatten{
    margin: 0;
    padding: 0;
}

@mixin content-link{
    a{
        text-decoration: none;
        color: $content-link-color;
        font-weight: bold;
        font-family: $content-font;
    }
}

@mixin content-link-hover{
    a:hover{
        color: $link-hover-color;
        text-decoration: underline;
        font-weight: bold;
        font-family: $content-font;
    }
}

@mixin title-h2{

    font-size: 2.3em;
    font-weight: 700;
    font-family:$heading-font;
    line-height: 1.3em;
    color:$deepblue;
   
}

@mixin title-hr{
    display: block;
    color: $deepblue;
    margin-top: 1em;
    margin-bottom: 2em;
    border-style: solid;
    border-width: 2px;
    width:70px;
}