
@mixin link-style{
    text-decoration: none;
    font-weight: bold;
    font-family: $heading-font;
}

@mixin margin-center{
    margin-right: auto;
    margin-left: auto;
}

@mixin visually-hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}