

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    border-collapse: collapse;
    max-width: 100%;
    margin:0 auto;
    margin-bottom:5%;
    
    }


th {
    background-color: $nav-color;
    color: $footer-link-color ;
}


th, td {
    text-align: left;
    padding: 15px;
       }


td{
    height: 50px;
    vertical-align: center;
}





//Media Query 
@media screen and (max-width: 600px) {
   .responsive-table table {
      border: 0;
      width: 100%;
    }

   .responsive-table table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
  
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .responsive-table table tr {
      border-bottom: 1px solid #000;
      display: block;
      margin-bottom: .625em;
    }
   .responsive-table table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    .responsive-table table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    .responsive-table table td:last-child {
      border-bottom: 0;
    }
  }
