
$bg-color: #F3EDCD;
$nav-color: #003E6B;
$footer-link-color: #FFFFFF; 
$footer-bg-color: #003E6B;
$bdr-style: rgba(243, 237, 205, 0.5) solid 1px;
$content-link-color: #AD2D20;
$link-hover-color: #4B751D;
$heading-font: Montserrat, Arial, "sans-serif";
$content-font: Karla, Arial, "sans-serif";
$text-color-light: #FFFFFF;
$text-color-dark: #000000;
$subtitle-font: 'Valken', cursive;
$deepblue:#003e6b;
$index-bg-color: #004d85;