
$bg-color: #F3EDCD;
$nav-color: #003E6B;
$footer-link-color: #61041C; 
$bdr-style: rgba(243, 237, 205, 0.5) solid 1px;
$heading-font: Montserrat, Arial, "sans-serif";
$content-font: Karla, Arial, "sans-serif";